.heading {
  background-color: MediumSeaGreen;
  text-align: center;
  font-family: Andale Mono, monospace;
}
h2 {
  text-align: center;
  font-family: Verdana, sans-serif;
}
.crop {
  height: -150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.crop img{
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.milestone {
  text-align: center;
  font-family: Andale Mono, monospace;
  padding: 70px;
}
